<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.lawrecord.dao.AgencyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.lawrecord.entity.AgencyEntity">
        <id column="id" property="id" />
        <result column="law_ship_code" property="lawShipCode" />
        <result column="enforcement_agency" property="enforcementAgency" />
        <result column="law_case_code" property="lawCaseCode" />
        <result column="law_case_source" property="lawCaseSource" />
        <result column="law_case_lonlat" property="lawCaseLonlat" />
        <result column="law_case_addr" property="lawCaseAddr" />
        <result column="law_case_date" property="lawCaseDate" />
        <result column="agency_person" property="agencyPerson" />
        <result column="agency_tel" property="agencyTel" />
        <result column="agency_addr" property="agencyAddr" />
        <result column="bank" property="bank" />
        <result column="review_agency" property="reviewAgency" />
        <result column="lawsuit_agency" property="lawsuitAgency" />
        <result column="prospect_date" property="prospectDate" />
        <result column="inquire_date" property="inquireDate" />
        <result column="tel_apply_date" property="telApplyDate" />
        <result column="accept_date" property="acceptDate" />
        <result column="deal_date" property="dealDate" />
        <result column="punish_date" property="punishDate" />
        <result column="decision_date" property="decisionDate" />
        <result column="finish_date" property="finishDate" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="create_person" property="createPerson" />
        <result column="update_person" property="updatePerson" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="syn_flag" property="synFlag" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       law_record_agency.id, law_ship_code, enforcement_agency,law_case_fine_code, law_case_code, law_case_source, law_case_lon, law_case_lat,law_case_addr, law_case_date, agency_person, agency_tel, agency_addr, bank, review_agency, lawsuit_agency, prospect_start_date,prospect_end_date, inquire_start_date,inquire_end_date, tel_apply_date, accept_date, deal_date, punish_date, decision_date, finish_date
    </sql>

    <select id="maxCode" resultType="java.lang.Integer">
       SELECT MAX(law_case_code) FROM law_record_agency WHERE law_case_fine_code=#{fineCode};
    </select>

    <select id="detail" resultType="com.seven.gwc.modular.lawrecord.dto.AgencyDTO">
       SELECT <include refid="Base_Column_List"/>,
              law_record.law_type AS law_type
       FROM law_record_agency
       LEFT JOIN law_record ON law_record_agency.id=law_record.id
       WHERE  law_record_agency.id=#{id}
    </select>


</mapper>
