<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.lawrecord.dao.LawRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.lawrecord.entity.LawRecordEntity">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="prospect_date" property="prospectDate" />
        <result column="inquire_date" property="inquireDate" />
        <result column="tel_apply_date" property="telApplyDate" />
        <result column="accept_date" property="acceptDate" />
        <result column="deal_date" property="dealDate" />
        <result column="punish_date" property="punishDate" />
        <result column="decision_date" property="decisionDate" />
        <result column="finish_date" property="finishDate" />
        <result column="law_type" property="lawType" />
        <result column="writ" property="writ" />
        <result column=" Illegal_ship_name" property=" illegalShipName" />
        <result column=" Illegal_person" property=" illegalPerson" />
        <result column=" Illegal_person_tel" property=" illegalPersonTel" />
        <result column="create_date" property="createDate" />
        <result column="source" property="source" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, status, prospect_date, inquire_date, tel_apply_date, accept_date, deal_date, punish_date, decision_date, finish_date, law_type, writ,  Illegal_ship_name,  Illegal_person,  Illegal_person_tel, create_date, source
    </sql>

    <sql id="law_case_code">
     CONCAT(law_record_agency.law_case_fine_code,
                  (CASE law_record_agency.law_case_fine_code WHEN '' THEN '' ELSE '罚'  END),
                  law_record_agency.law_case_code,
                  (CASE law_record_agency.law_case_code WHEN '' THEN '' ELSE '号'  END)
           )
    </sql>

    <select id="listLawRecord" parameterType="com.seven.gwc.modular.lawrecord.vo.LawRecordVO" resultType="com.seven.gwc.modular.lawrecord.dto.LawRecordDTO">
        SELECT
            law_record.id,
            law_record.law_type,
            law_record.status,
            <include refid="law_case_code"/> law_case_code,
            law_record_agency.law_case_source,
            (CASE law_record.law_type WHEN 1 THEN law_record_inquire.ship_name ELSE law_record_inquire_safe.ship_name END) ship_name,
            (CASE law_record.law_type WHEN 1 THEN law_record_inquire.investigate_name ELSE law_record_inquire_safe.investigate_name END) investigate_name,
            (CASE law_record.law_type WHEN 1 THEN law_record_inquire.investigate_tel ELSE law_record_inquire_safe.investigate_tel END) investigate_tel,
            law_record.create_date
        FROM
            law_record
        LEFT JOIN law_record_agency ON law_record.id=law_record_agency.id
        LEFT JOIN law_record_inquire ON law_record.id=law_record_inquire.id
        LEFT JOIN law_record_inquire_safe ON law_record.id=law_record_inquire_safe.id
        <where>
            <if test="lawType!=null and lawType>0 ">
                law_record.law_type =#{lawType}
            </if>
            <if test="lawCaseCode!=null and lawCaseCode!=''">
                AND <include refid="law_case_code"/> like CONCAT("%",#{lawCaseCode},"%")
            </if>
            <if test="shipName!=null and shipName!=''">
                AND (
                    law_record_inquire.ship_name like CONCAT("%",#{shipName},"%")
                    or
                    law_record_inquire_safe.ship_name like CONCAT("%",#{shipName},"%")
                )
            </if>
            <if test="investigateTel!=null and investigateTel!=''">
                AND (law_record_inquire.investigate_tel=#{investigateTel} or law_record_inquire_safe.investigate_tel=#{investigateTel})
            </if>
            <if test="investigateName!=null and investigateName!=''">
                AND (
                     law_record_inquire.investigate_name like CONCAT("%",#{investigateName},"%")
                     or
                     law_record_inquire_safe.investigate_name like CONCAT("%",#{investigateName},"%")
                     )
            </if>
            <if test="status!=null">
                AND law_record.status =#{status}
            </if>
            <if test="createStartTime!=null and createStartTime!='' ">
                AND law_record.create_date &gt; #{createStartTime}
            </if>
            <if test="createEndTime!=null and createEndTime!=''">
                AND law_record.create_date &lt; #{createEndTime}
            </if>
        </where>
        order by law_record.create_date desc

    </select>

    <sql id="detail">
         id, status, law_type, writ,  Illegal_ship_name,  Illegal_person,  Illegal_person_tel, create_date, source


    </sql>

   <select id="detail" resultType="java.util.Map">

   </select>



</mapper>
