@layout("/common/_container.html",{js:["/modular/electronicFile/electronicFile.js"]}){
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="conditionInput" class="layui-form toolbar">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <select id="lawType"  name="lawType" lay-verify="">
                                    <option value="">请选择案件类型</option>
                                    @for(lawType in lawTypes){
                                    <option value="${lawType.code}">${lawType.message}</option>
                                    @}
                                </select>
                            </div>
                            <div class="layui-inline">
                                <input id="lawCaseCode"  class="layui-input" lay-verify="length50" type="text" placeholder="案件编号"/>
                            </div>
                            <div class="layui-inline">
                                <input id="shipName" class="layui-input" type="text" placeholder="被执法船"/>
                            </div>
                            <div class="layui-inline">
                                <input id="investigateTel" class="layui-input" type="text" placeholder="被询问人电话"/>
                            </div>
                            <div class="layui-inline">
                                <input id="investigateName" class="layui-input" type="text" placeholder="被询问人"/>
                            </div>

                            <div class="layui-inline">
                                <input id="createTime" class="layui-input" type="text" placeholder="案件创建时间"/>
                            </div>

                            <div class="layui-inline">
                                <button id="btnSearch" type="button" class="layui-btn layui-btn-normal">搜索</button>
                                <button id="btnReset" type="button" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>

                    </div>
                    <table class="layui-table" id="lawRecordTable" lay-filter="lawRecordTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="tableBar">
    <a id="instrument" class="layui-btn layui-btn-xs" lay-event="instrument">文书</a>
    <a id="detail" class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a id="export" class="layui-btn layui-btn-xs" lay-event="export">导出</a>
    <a id="print" class="layui-btn layui-btn-xs" lay-event="print">打印</a>
</script>
@}
