<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.path.dao.PointlistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.path.entity.PointlistEntity">
        <id column="ship_id" property="shipId" />
        <result column="lon" property="lon" />
        <result column="lat" property="lat" />
        <result column="course" property="course" />
        <result column="speed" property="speed" />
        <result column="create_time" property="createTime" />
        <result column="device_source" property="deviceSource" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ship_id, lon, lat, course, speed, create_time, device_source
    </sql>


</mapper>
