<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.sailor.dao.CertificateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.sailor.entity.CertificateEntity">
        <id column="id" property="id"/>
        <result column="certificate_id" property="certificateId"/>
        <result column="name" property="name"/>
        <result column="owner_type" property="ownerType"/>
        <result column="certificate_type" property="certificateType"/>
        <result column="issuer" property="issuer"/>
        <result column="issue_date" property="issueDate"/>
        <result column="out_date" property="outDate"/>
        <result column="store_place" property="storePlace"/>
        <result column="is_often" property="isOften"/>
        <result column="window_phase" property="windowPhase"/>
        <result column="response_dept" property="responseDept"/>
        <result column="certificate_place" property="certificatePlace"/>
        <result column="contact" property="contact"/>
        <result column="attach_file_path" property="attachFilePath"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, certificate_id, name, owner_type, certificate_type, issuer, issue_date, out_date, store_place, is_often, window_phase, response_dept, certificate_place, contact, attach_file_path, remark, state
    </sql>

    <select id="CertificateEntityListAll" resultType="com.seven.gwc.modular.sailor.entity.CertificateEntity">
        select c.* from ship_info_certificate c
        left join sys_dict d on d.id = c.owner_type
        where d.name = '船员证书' and c.delete_flag = 1
        <if test="certificateName != null and certificateName != ''">
            and c.name like CONCAT('%',#{certificateName},'%') or c.certificate_id like CONCAT('%',#{certificateName},'%')
        </if>

    </select>

    <select id="CertificateEntityList" resultType="com.seven.gwc.modular.sailor.entity.CertificateEntity">
        select c.* from ship_info_certificate c
        left join sys_dict d on d.id = c.owner_type
        where d.name = '船员证书' and #{ids} like CONCAT('%',c.id,'%')
              and c.delete_flag = 1
        <if test="certificateName != null and certificateName != ''">
            and (c.name like CONCAT('%',#{certificateName},'%') or c.certificate_id like CONCAT('%',#{certificateName},'%'))
        </if>
<!--        <if test="ids != null">-->

<!--        </if>-->
    </select>


</mapper>
