<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.map.dao.FishShipTrackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.map.entity.FishShipTrackEntity">
        <result column="id" property="id" />
        <result column="fish_ship_id" property="fishShipId" />
        <result column="ship_code" property="shipCode" />
        <result column="track" property="track" />
        <result column="record_date" property="recordDate" />
        <result column="singnal_type" property="singnalType" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fish_ship_id, ship_code, track, record_date, singnal_type, start_date, end_date
    </sql>


</mapper>
