<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.system.dao.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.system.entity.DeptEntity">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="pids" property="pids" />
        <result column="simple_name" property="simpleName" />
        <result column="full_name" property="fullName" />
        <result column="description" property="description" />
        <result column="version" property="version" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, pids, simple_name, full_name, description, version, sort, create_time, update_time, create_user, update_user
    </sql>
    <sql id="Base_Column_List_Tree">
        id, pids, simple_name, full_name, description, version, sort, create_time, update_time, create_user, update_user
    </sql>
    <select id="tree" resultType="com.seven.gwc.core.node.ZTreeNode">
		SELECT id AS id, pid AS "pId", full_name AS name,
        (CASE WHEN (pid = 0 OR pid IS NULL) THEN 'true' ELSE 'false' END) AS "open"
        FROM sys_dept ORDER BY sort
	</select>
    <select id="liseTree" resultType="com.seven.gwc.modular.system.entity.DeptEntity">
        SELECT
        <choose>
            <when test="(deptName != null and deptName != '')">
                0 AS "pid",
            </when>
            <otherwise>
                pid AS "pid",
            </otherwise>
        </choose>
        <include refid="Base_Column_List_Tree"/>
        FROM sys_dept
        <where>
            <if test="deptName != null and deptName != ''">
                and (simple_name like CONCAT('%',#{deptName},'%') or full_name like CONCAT('%',#{deptName},'%'))
            </if>
        </where>
        order by sort asc
    </select>

</mapper>
