<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.system.dao.DictTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.system.entity.DictTypeEntity">
        <id column="dict_type_id" property="dictTypeId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="system_flag" property="systemFlag" />
        <result column="status" property="status" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dict_type_id, code, name, description, system_flag, status, sort, create_time, create_user, update_time, update_user
    </sql>


</mapper>
