<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.system.dao.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.system.entity.RoleEntity">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="sort" property="sort" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, name, description, sort, version, create_time, update_time, create_user, update_user
    </sql>

    <select id="roleTreeList" resultType="com.seven.gwc.core.node.ZTreeNode">
		select id AS id, pid as "pId",
		name as name, (case when (pid = 0 or pid is null) then 'true'
		else 'false' end) as "open" from sys_role
	</select>

    <select id="roleTreeListByRoleId" resultType="com.seven.gwc.core.node.ZTreeNode">
        SELECT
        r.id as id,pid as "pId",name AS "name",
        (CASE WHEN (pid = 0 OR pid IS NULL) THEN 'true' ELSE 'false' END) as "open",
        (CASE WHEN (r1.id = 0 OR r1.id IS NULL) THEN 'false' ELSE 'true' END) as "checked"
        FROM sys_role r
        LEFT JOIN (SELECT id FROM sys_role WHERE id IN
            <foreach collection="array" index="index" item="i" open="(" separator="," close=")">
                #{i}
            </foreach>
        ) r1 ON r.id = r1.id
        ORDER BY pid,sort ASC
    </select>
    <select id="RoleEntityList" resultType="com.seven.gwc.modular.system.entity.RoleEntity">
        SELECT r.id,r.pid,r.name,r.description,r.sort,r.version,r.create_time,r.update_time,r.create_user,r.update_user,
        (SELECT name FROM sys_role sr WHERE r.pid = sr.id) AS pName
        FROM sys_role r
        <where>
            <if test="roleName != null and roleName != ''">
                name like CONCAT('%',#{roleName},'%')
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
