<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.equipment_info.dao.EquipMaintainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.equipment_info.entity.EquipMaintainEntity">
        <id column="id" property="id"/>
        <result column="equip_id" property="equipId"/>
        <result column="problem_type" property="problemType"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="remark" property="remark"/>
        <result column="detail_ids" property="detailIds"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, equip_id, problem_type, start_time, end_time, remark
    </sql>
    <select id="getMaintainList" resultType="com.seven.gwc.modular.equipment_info.entity.EquipMaintainEntity">
        SELECT m.*,e.maintain_person as maintainPerson,e.munition as munition, e.content as content,t.name as equipName,
        t.type as type, t.specification as specification
        FROM ship_equip_maintain m
        LEFT JOIN ship_equip_maintaindetail e on m.detail_ids = e.id
        LEFT JOIN ship_equip t on t.id = m.equip_id
        LEFT JOIN sys_user u ON m.create_person = u.id
        LEFT JOIN sys_dept d ON u.dept_id = d.id
        WHERE m.delete_flag = 1
        <if test="maintain.equipName != null and maintain.equipName != ''">
            and t.name like CONCAT('%',#{maintain.equipName},'%')
        </if>
        <!-- 数据范围过滤 -->
        ${maintain.params.dataScope}
        order by m.create_date desc
        LIMIT #{total} , #{size}
    </select>

    <select id="getListSize" resultType="com.seven.gwc.modular.equipment_info.entity.EquipMaintainEntity">
        SELECT m.*,e.maintain_person as maintainPerson,e.munition as munition, e.content as content,t.name as equipName,
        t.type as type, t.specification as specification
        FROM ship_equip_maintain m
        LEFT JOIN ship_equip_maintaindetail e on m.detail_ids = e.id
        LEFT JOIN ship_equip t on t.id = m.equip_id
        LEFT JOIN sys_user u ON m.create_person = u.id
        LEFT JOIN sys_dept d ON u.dept_id = d.id
        WHERE m.delete_flag = 1
        <if test="maintain.equipName != null and maintain.equipName != ''">
            and t.name like CONCAT('%',#{maintain.equipName},'%')
        </if>
    </select>

    <select id="getMaintainById" resultType="com.seven.gwc.modular.equipment_info.entity.EquipMaintainEntity">
        SELECT m.*,e.maintain_person as maintainPerson,e.munition as munition, e.content as content,t.name as equipName,
        t.type as type, t.specification as specification
        FROM ship_equip_maintain m
        LEFT JOIN ship_equip_maintaindetail e on m.detail_ids = e.id
        LEFT JOIN ship_equip t on t.id = m.equip_id
        WHERE m.delete_flag = 1
        <if test="id != null and id != ''">
            and m.id = #{id}
        </if>
    </select>


</mapper>
