<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.equipment_info.dao.EquipMaintainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.equipment_info.entity.EquipMaintainEntity">
        <id column="id" property="id" />
        <result column="equip_id" property="equipId" />
        <result column="problem_type" property="problemType" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, equip_id, problem_type, start_time, end_time, remark
    </sql>
    <select id="getMaintainList" resultType="com.seven.gwc.modular.equipment_info.entity.EquipMaintainEntity">
         SELECT m.*,e.maintain_person as maintainPersonDetail,e.munition as munitionDetail, e.content as contentDetail
         FROM ship_equip_maintain m
         LEFT JOIN ship_equip_maintaindetail e on m.id = e.maintain_id
         LEFT JOIN sys_user u ON m.create_person = u.id
         LEFT JOIN sys_dept d ON u.dept_id = d.id
         WHERE m.delete_flag = 1
        <if test="maintain.name != null and maintain.name != ''">
            and e.name like CONCAT('%',#{equipName},'%')
        </if>
    </select>


</mapper>
