<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.fish_info.dao.FishShipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.fish_info.entity.FishShipEntity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="registry" property="registry" />
        <result column="tonnage" property="tonnage" />
        <result column="product_date" property="productDate" />
        <result column="area_type" property="areaType" />
        <result column="ship_type" property="shipType" />
        <result column="ship_long" property="shipLong" />
        <result column="ship_deep" property="shipDeep" />
        <result column="total_power" property="totalPower" />
        <result column="work_type" property="workType" />
    </resultMap>
    <select id="getFishShipList" resultType="com.seven.gwc.modular.fish_info.entity.FishShipEntity">
        SELECT l.* FROM law_fish_ship l
        LEFT JOIN sys_user u ON l.create_user = u.id
        LEFT JOIN sys_dept d ON u.dept_id = d.id
        WHERE 1 = 1
        <if test="law.shipType != null and law.shipType != ''">
            and l.ship_type = #{law.shipType}
        </if>
        <if test="law.name != null and law.name != ''">
            and l.code like CONCAT('%',#{law.code},'%')
        </if>
        ${law.params.dataScope}
        order by l.create_time desc
    </select>

</mapper>
