@layout("/common/_container.html",{js:["/modular/resource/tv.js"],css:["/modular/resource/film.css"]}){
<div class="layui-fluid">
    <div class="layui-row layui-col-space25">

        <div class="layui-form toolbar">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input id="personName" class="layui-input" type="text" placeholder="请输入电视剧名称"/>
                </div>
                <div class="layui-inline">
                    <button id="btnSearch" class="layui-btn">搜索</button>
                    <button id="btnReset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>


        <ul class="fly-case-list">
            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise">共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px" id="tvDetail">详情</button>
                </div>
            </li>

            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise">共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px">详情</button>
                </div>
            </li>

            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" >共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px">详情</button>
                </div>
            </li>

            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" >共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px">详情</button>
                </div>
            </li>

            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" >共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px">详情</button>
                </div>
            </li>

            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" >共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px">详情</button>
                </div>
            </li>

            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" >共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px">详情</button>
                </div>
            </li>

            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" >共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px">详情</button>
                </div>
            </li>

            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" >共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px">详情</button>
                </div>
            </li>

            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" >共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px">详情</button>
                </div>
            </li>

            <li data-id="123">
                <a class="fly-case-img" href="http://fly.layui.com/" target="_blank" >
                    <img src="http://localhost:88/common/images/tv.jpg" alt="三叉戟">
                    <cite class="layui-btn layui-btn-primary layui-btn-small">去观看</cite>
                </a>
                <h2><a href="http://fly.layui.com/tv.jpg" target="_blank">三叉戟</a></h2>
                <div class="fly-case-info">
                    <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;">更新时间</span> 2017-11-30</p>
                    <p><a class="fly-case-nums fly-case-active" href="javascript:;" data-type="showPraise" >共30集</a></p>
                    <button class="layui-btn fly-case-active" data-type="praise" style="margin-top: 5px">详情</button>
                </div>
            </li>
        </ul>

        <div class="layui-col-md12 layui-col-sm12" style="text-align: center">
            <div id="demo0"><div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1"><a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a><span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></span><a href="javascript:;" data-page="2">2</a><a href="javascript:;" data-page="3">3</a><a href="javascript:;" data-page="4">4</a><a href="javascript:;" data-page="5">5</a><a href="javascript:;" class="layui-laypage-next" data-page="2">下一页</a></div></div>
        </div>
    </div>
</div>
@}

