@layout("/common/_container.html",{js:["/modular/frame/welcome.js"]}){
<style>
    .layui-table-view{
        border-style: none;
    }
    .layui-tab-title .layui-this{
        border-style: none;
        color: #1890FF;
    }
    .layui-tab-title .layui-this:after{
        border-style: none;
        color: #1890FF;
    }

</style>

<div class="layui-fluid" >
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-header">
                    电子巡航
                </div>
                <div class="layui-card-body" style="padding: 0;">
                    <div class="layui-tab" style="height: 485px">
                        <div class="layui-tab-content" style="padding: 0;">
                            <div class="layui-tab-item layui-show" id="map">
                                <iframe src="../system/map" frameborder="0" width=100% scrolling="No" height=445px; leftmargin="0" topmargin="0"></iframe>
                            </div>
                            <div class="layui-tab-item"><img src="${ctxPath}/common/images/haitu1.jpg" style="width: 100%; height: 445px;"></div>
                            <div class="layui-tab-item"><img src="${ctxPath}/common/images/haitu2.jpg" style="width: 100%; height: 445px;"></div>
                        </div>
                        <ul class="layui-tab-title" lay-filter="demo" style="border-bottom-width: 0;">
                            <li class="layui-col-sm4 layui-this" style="border-right: 1px solid #E8E8E8;">电子巡航</li>
                            <li class="layui-col-sm4" style="border-right: 1px solid #E8E8E8;">视频监控</li>
                            <li class="layui-col-sm4">设备监控</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    基础数据
                </div>
                <div class="layui-card-body ">
                    <div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none">
                        <ul class="layui-row layui-col-space10 layui-this">
                            <li class="layui-col-xs6">
                                <a href="#" class="layadmin-backlog-body" style="border-right: 1px solid #EEEEEE;">
                                    <p><cite>${lawType}</cite></p>
                                    <h3>未完成任务</h3>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="#" class="layadmin-backlog-body">
                                    <p><cite>20</cite></p>
                                    <h3>全部任务</h3>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="#" class="layadmin-backlog-body" style="border-right: 1px solid #EEEEEE;">
                                    <p><cite>220</cite></p>
                                    <h3>报警信息</h3>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="#" class="layadmin-backlog-body">
                                    <p><cite>150</cite></p>
                                    <h3>库存紧张</h3>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="#" class="layadmin-backlog-body" style="border-right: 1px solid #EEEEEE;">
                                    <p><cite>220</cite></p>
                                    <h3>异常设备</h3>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="#" class="layadmin-backlog-body">
                                    <p><cite>150</cite></p>
                                    <h3>昨日视频</h3>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="#" class="layadmin-backlog-body" style="border-right: 1px solid #EEEEEE;">
                                    <p><cite>220</cite></p>
                                    <h3>昨日维修</h3>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="#" class="layadmin-backlog-body">
                                    <p><cite>150</cite></p>
                                    <h3>锁定目标</h3>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="#" class="layadmin-backlog-body" style="border-right: 1px solid #EEEEEE;">
                                    <p><cite>220</cite></p>
                                    <h3>资料数量</h3>
                                </a>
                            </li>
                            <li class="layui-col-xs6">
                                <a href="#" class="layadmin-backlog-body">
                                    <p><cite>150</cite></p>
                                    <h3>应到人数</h3>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-sm6 layui-col-md2">
                <div class="layui-card">
                    <div class="layui-inline" id="calendar"></div>
                </div>
            </div>

            <div class="layui-col-sm6 layui-col-md5">
                <div class="layui-card">
                    <div class="layui-card-header">
                        日程信息
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <table class="layui-table" id="rchengTable" lay-filter="rchengTable"></table>
                    </div>
                </div>
            </div>

            <div class="layui-col-sm6 layui-col-md5">
                <div class="layui-card">
                    <div class="layui-card-header">
                        工作计划
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <table class="layui-table" id="gongzuoTable" lay-filter="gongzuoTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@}