/*上下结构-left*/
.my-form-label {
    float: left;
    display: block;
    padding: 5px 0px;
    width: 90px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    font-size: 14px;
    color: #999999;
}


/*上下结构-left*/
.label-long-text{
    float: left;
    display: block;
    padding: 5px 0px;
    width: 100%;
    font-weight: bolder;
    /*line-height: 20px;*/
    text-align: left;
    font-size: 16px;
    color: #666666;
}

/*上下结构-居中*/
.my-form-label-center {
    float: left;
    display: block;
    padding: 5px 0px;
    width: 100%;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #999999;
}

/*上下结构-居中*/
.label-long-text-center{
    float: left;
    display: block;
    padding: 5px 0px;
    width: 100%;
    font-weight: bolder;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    color: #666666;
}


.my-form-label-edit {
    float: left;
    display: block;
    padding: 9px 15px;
    width: 80px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

/*.label-long-text-title{*/
/*    float: left;*/
/*    display: inline-block;*/
/*    padding: 5px 15px;*/
/*    width: 100%;*/
/*    font-weight: bolder;*/
/*    line-height: 200px;*/
/*    text-align: left;*/
/*}*/

.img-thumbnail {
    display: inline-block;
    /*max-width: 90%;*/
    width:80%;
    height: 95%;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.uploader-list {
    margin-left: -15px;
    margin-top:-10px;
}

.uploader-list .info {
    position: relative;
    margin-top: -25px;
    background-color: black;
    color: white;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.5;
    opacity: 0.5;
    width: 100px;
    height: 25px;
    text-align: center;
    display: none;
}

.uploader-list .handle {
    position: relative;
    background-color: black;
    color: white;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.5;
    opacity: 0.5;
    width: 100px;
    text-align: right;
    height: 18px;
    margin-bottom: -18px;
    display: none;
}

.uploader-list .handle i {
    margin-right: 5px;
}

.uploader-list .handle i:hover {
    cursor: pointer;
}

.uploader-list .file-iteme {
    margin: 12px 0 0 15px;
    padding: 1px;
    float: left;
}