<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.ship_info.dao.ShipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.ship_info.entity.ShipEntity">
        <id column="id" property="id" />
        <result column="ship_code" property="shipCode" />
        <result column="name" property="name" />
        <result column="owner" property="owner" />
        <result column="nationality" property="nationality" />
        <result column="type" property="type" />
        <result column="length" property="length" />
        <result column="width" property="width" />
        <result column="material" property="material" />
        <result column="deep" property="deep" />
        <result column="tonnage" property="tonnage" />
        <result column="area" property="area" />
        <result column="people_num" property="peopleNum" />
        <result column="main_power" property="mainPower" />
        <result column="image" property="image" />
        <result column="certificate_id" property="certificateId" />
        <result column="remark" property="remark" />
        <result column="manufacturer" property="manufacturer" />
        <result column="finish_date" property="finishDate" />
        <result column="gunwale_count" property="gunwaleCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ship_code, name, owner, nationality, type, length, width, material, deep, tonnage, area, people_num, main_power, image, certificate_id, remark, manufacturer, finish_date, gunwale_count
    </sql>
    <select id="ShipEntityList" resultType="com.seven.gwc.modular.ship_info.entity.ShipEntity">
        select s.*,b.name as nationalityDesp,c.name as typeDesp
        from ship_info_ship s
        LEFT JOIN
        (SELECT d.name, d.sort,t.`code` FROM sys_dict d LEFT JOIN sys_dict_type t on t.id = d.dict_type_id where t.code='BOAT_NATION') b on b.sort = s.nationality
        LEFT JOIN
        (SELECT e.name, e.sort,f.`code` FROM sys_dict e LEFT JOIN sys_dict_type f on f.id = e.dict_type_id where f.code='BOAT_TYPE') c on c.sort = s.type
        <where>
        <if test="ship.name != null and ship.name != ''">
            s.name like CONCAT('%',#{ship.name},'%') or s.ship_code like CONCAT('%',#{ship.name},'%')
        </if>
        </where>
    </select>

</mapper>
