@layout("/common/_container.html",{js:["/modular/lawRecord/agency.js","/common/plugins/md5/md5.js","/modular/lawRecord/law_record_util.js","/modular/lawRecord/agency_related_time.js"]}){
<style>
    .container {
        padding-top: 40px;
        height: 40px;
    }

    .dot {
        width: 15px;
        height: 15px;
        border-radius: 20px;
        margin: auto auto -7px;
    }

    .dot_blue {
        border: 1px solid #1890FF;
        background-color: #1890FF;
    }

    .dot_gray {
        border: 1px solid #C1C1C1;
        background-color: #C1C1C1;
    }

    .dot_content {
        margin: auto auto -27px;
    }

    .item {
        flex: 1;
        border-bottom: 2px solid #F1F1F1
    }

    .item_blue{
        flex: 1;
        border-bottom: 2px solid #4E89E9
    }

    .item_content {
        flex: 1;
    }

    .layui-card-header {
        font-size: 16px;
    }

    .layui-form label{
        width:120px;
    }


</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
            <form class="layui-form" lay-filter="agencyForm" >
                <input type="hidden" id="id" name="id" value="${id}">
                <input type="hidden" id="lawType" name="lawType" value="${lawType}">
                <div class="layui-col-md12">
<!--                    <p style="float:right;margin-top:5px; font-size:16px" >-->
<!--                        <i style="color:#1890FF;" class="layui-icon layui-icon-refresh"></i>切换执法目标&nbsp;&nbsp;&nbsp;</p>-->
                    <div class="layui-card">
                        <div class="container">
                            <div style="display:flex;">
                                <div style="flex:1;display:flex">
                                    <div style="flex:1"></div>
                                    <div class="dot dot_blue"></div>
                                    <div class="item"></div>
                                </div>
                                @if(lawType=="1"){
                                <div style="flex:1;display:flex">
                                    <div class="item"></div>
                                    <div class="dot dot_gray"></div>
                                    <div class="item"></div>
                                </div>
                                @}
                                <div style="flex:1;display:flex">
                                    <div class="item"></div>
                                    <div class="dot dot_gray"></div>
                                    <div class="item"></div>
                                </div>
                                <div style="flex:1;display:flex">
                                    <div class="item"></div>
                                    <div class="dot dot_gray"></div>
                                    <div class="item"></div>
                                </div>
                                <div style="flex:1;display:flex">
                                    <div class="item"></div>
                                    <div class="dot dot_gray"></div>
                                    <div class="item"></div>
                                </div>
                                <div style="flex:1;display:flex">
                                    <div class="item"></div>
                                    <div class="dot dot_gray"></div>
                                    <div style="flex:1;"></div>
                                </div>
                            </div>
                            <div style="display:flex;">
                                <div style="flex:1;display:flex">
                                    <div style="flex:1"></div>
                                    <div class="dot_content">办案机关</div>
                                    <div class="item_content"></div>
                                </div>
                                @if(lawType=="1"){
                                <div style="flex:1;display:flex">
                                    <div class="item_content"></div>
                                    <div class="dot_content">询问笔录</div>
                                    <div class="item_content"></div>
                                </div>
                                <div style="flex:1;display:flex">
                                    <div class="item_content"></div>
                                    <div class="dot_content">勘验笔录</div>
                                    <div class="item_content"></div>
                                </div>
                                @}else{
                                <div style="flex:1;display:flex">
                                    <div class="item_content"></div>
                                    <div class="dot_content">笔录</div>
                                    <div class="item_content"></div>
                                </div>
                                @}


                                <div style="flex:1;display:flex">
                                    <div class="item_content"></div>
                                    <div class="dot_content">证据</div>
                                    <div class="item_content"></div>
                                </div>
                                <div style="flex:1;display:flex">
                                    <div class="item_content"></div>
                                    <div class="dot_content">案由</div>
                                    <div class="item_content"></div>
                                </div>
                                <div style="flex:1;display:flex">
                                    <div class="item_content"></div>
                                    <div class="dot_content">处罚决定</div>
                                    <div class="item_content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">执法情况</div>
                        <div class="layui-card-body">
                            <div class="layui-form-item">

                                <div class="layui-inline">
                                    <label class="layui-form-label">执法船号</label>
                                    <div class="layui-input-inline">
                                        <input name="lawShipCode" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline" style="margin-left: 42px">
                                    <label class="layui-form-label">执法单位</label>
                                    <div class="layui-input-inline" style="width: 290px">
                                        <input type="text" name="enforcementAgency" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">案件信息</div>
                        <div class="layui-card-body">

                            <div class="layui-form-item">
                                <label class="layui-form-label">案件编号</label>
                                <div class="layui-input-inline" style="width: 80px">
                                    <input name="lawCaseFineCode" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">罚&nbsp;&nbsp;&nbsp;</div>
                                <div class="layui-input-inline" style="width: 80px">
                                    <input name="lawCaseCode" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">号&nbsp;&nbsp;&nbsp;</div>

                                <div class="layui-inline" style="margin-left: 5px">
                                    <label class="layui-form-label">案件来源</label>
                                    <div class="layui-input-inline">
                                        <select name="lawCaseSource">
                                            @for(item in lawCaseSource){
                                               <option value="${item.code}">${item.message}</option>
                                            @}
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="layui-form-item">
                                <label class="layui-form-label">案发经纬度</label>
                                <div class="layui-input-inline" style="width: 80px">
                                    <input placeholder="" name="lawCaseLon" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">经度</div>
                                <div class="layui-input-inline" style="width: 80px">
                                    <input placeholder="" name="lawCaseLat" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">纬度</div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">案发地点</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="lawCaseAddr" autocomplete="off" class="layui-input">
                                    </div>
                                    <!--地址选择方式
                                    <div class="layui-input-inline" style="width: 90px">
                                        <select class="addr_state" lay-filter="addr_state" name="lawCaseAddr1">
                                            <option value="">请选择省</option>
                                            <option value="浙江" selected="">浙江省</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline" style="width: 90px">
                                        <select class="addr_city" name="lawCaseAddr2">
                                            <option value="">请选择市</option>
                                            <option value="杭州">杭州</option>
                                            <option value="宁波" disabled="">宁波</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline" style="width: 90px">
                                        <input type="text"  name="lawCaseAddr3" autocomplete="off" class="layui-input">
                                    </div>
                                    -->
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">案发时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="lawCaseDate" name="lawCaseDate" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="layui-col-md12 ">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            关联时间&nbsp;&nbsp;&nbsp;
                            <button type="button" id="relatedTime" class="layui-btn layui-btn-normal layui-btn-sm layui-btn-radius">&nbsp;&nbsp;关联&nbsp;&nbsp;</button>
                        </div>
                        <div class="layui-card-body">

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">勘验时间</label>
                                    <div class="layui-input-inline" style="width: 300px">
                                        <input type="text" id="prospectDate" name="prospectDateStr" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">询问时间</label>
                                    <div class="layui-input-inline" style="width: 300px">
                                        <input type="text" id="inquireDate" name="inquireDateStr" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                            </div>

                            <div class="layui-form-item">

                                <div class="layui-inline">
                                    <label class="layui-form-label">电话请示时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="telApplyDate" name="telApplyDate" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">受案时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="acceptDate" name="acceptDate" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">处理意见书时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="dealDate" name="dealDate" autocomplete="off" class="layui-input">
                                    </div>
                                </div>


                            </div>

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">处罚审批时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="punishDate" name="punishDate" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline">
                                    <label class="layui-form-label">处理决定时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="decisionDate" name="decisionDate" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">结案时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="finishDate" name="finishDate" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="layui-col-md12 ">
                    <div class="layui-card">
                        <div class="layui-card-header">执法人员</div>
                        <div class="layui-card-body" id="lawOperator">

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" data-id="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">执法证号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" data-id="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" data-id="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">执法证号</label>
                                    <div class="layui-input-inline">
                                        <input type="text" data-id="" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md12 ">
                    <div class="layui-card">
                        <div class="layui-card-header">处罚机关</div>
                        <div class="layui-card-body">

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">联系人</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="agencyPerson" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">电话号码</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="agencyTel" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline" id="agency_addr">
                                    <label class="layui-form-label">地址</label>
                                    <div class="layui-input-inline" style="width: 90px">
                                        <select class="addr_state" id="agencyAddr1" lay-filter="addr_state" name="agencyAddrState" filter>
                                            <option value="">选择省</option>
                                            <option value="11" selected="">北京</option>
                                        </select>
                                    </div>
                                    <div class="layui-input-inline" style="width: 90px">
                                        <select class="addr_city" name="agencyAddrCity">
                                            <option value="">选择市</option>
                                            <option value="1">东城</option>

                                        </select>
                                    </div>
                                    <div class="layui-input-inline" style="width: 90px">
                                        <input type="text" name="agencyAddrRegion" autocomplete="off" class="layui-input addr_region">
                                    </div>
                                </div>

                            </div>

                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">指定银行</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="bank" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">复议机关</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="reviewAgency" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">诉讼机关</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="lawsuitAgency" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md12 ">
                        <div class="layui-card">
                            <div class="layui-card-header" style="text-align: center;">
                                <button type="button"  lay-filter="nextStep" lay-submit="" class="layui-btn layui-btn-normal">下一步</button>
                            </div>
                            <div style="margin:5px;">&nbsp;</div>

                    </div>

                </div>

            </form>

        </div>
    </div>
</div>


@}
