@layout("/common/_container.html",{js:["/modular/lawRecord/record.js","/modular/lawRecord/law_record_util.js","/modular/lawRecord/law_form_verify.js"]}){
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="conditionInput" class="layui-form toolbar">
                              <div class="layui-form-item">
                                  <div id="commonSearch" class="layui-inline">

                                      <div class="layui-inline" style="width: 120px">
                                          <select lay-filter="selectType">
                                              <option value="lawCaseCode">案件编号</option>
                                              <option value="lawType">案件类型</option>
                                              <option value="shipName">被执法船</option>
                                              <option value="investigateTel">被询问人电话</option>
                                              <option value="investigateName">被询问人</option>
                                              <option value="createTime">案件创建时间</option>
                                          </select>
                                      </div>


                                      <div class="layui-inline" id="select_box" >
                                          <div class="layui-inline">
                                              <input  class="layui-input lawCaseCode" lay-verify="length50" type="text" placeholder="案件编号"/>
                                          </div>
                                      </div>

                                      <div class="layui-inline">
                                          <button id="moreSearch" type="button" class="layui-btn layui-btn-primary">更多</button>
                                      </div>

                                  </div>
                                  <div id="advancedSearch" class="layui-hide  layui-inline" >
                                      <div class="layui-inline">
                                          <select class="lawType"  name="lawType" lay-verify="">
                                              <option value="">请选择案件类型</option>
                                              @for(lawType in lawTypes){
                                              <option value="${lawType.code}">${lawType.message}</option>
                                              @}
                                          </select>
                                      </div>
                                      <div class="layui-inline">
                                          <input  class="layui-input lawCaseCode" lay-verify="length50" type="text" placeholder="案件编号"/>
                                      </div>
                                      <div class="layui-inline">
                                          <input   class="layui-input shipName" type="text" placeholder="被执法船"/>
                                      </div>
                                      <div class="layui-inline">
                                          <input   class="layui-input investigateTel" type="text" placeholder="被询问人电话"/>
                                      </div>
                                      <div class="layui-inline">
                                          <input  class="layui-input investigateName" type="text" placeholder="被询问人"/>
                                      </div>

                                      <div class="layui-inline">
                                          <input  class="layui-input createTime" type="text" placeholder="案件创建时间"/>
                                      </div>

                                      <div class="layui-inline">
                                          <button id="backSearch" type="button" class="layui-btn layui-btn-primary">返回</button>
                                      </div>
                                  </div>

                                  <div class="layui-inline">
                                      <div class="layui-inline">
                                          <button id="btnSearch" type="button" class="layui-btn layui-btn-normal">搜索</button>
                                          <button id="btnReset" type="button" class="layui-btn layui-btn-primary">重置</button>
                                      </div>
                                  </div>
                              </div>

                        <div class="layui-form-item">
                            <div style="float:right">
                                <button id="createSafe" class="layui-btn icon-btn">新建安全案件</button>
                                <button id="createProduce" class="layui-btn icon-btn">新建生产案件</button>
<!--                                <button id="clericalTemplate" class="layui-btn icon-btn">文书模板</button>-->
                            </div>
                        </div>


                    </div>
                    <table class="layui-table" id="lawRecordTable" lay-filter="lawRecordTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="tableBar">
    {{# if(d.status < 80){ }}
        @if(shiro.hasPermission("/lawRecord/update")){
        <a id="edit" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        @}
    {{# } }}
    <a id="export" class="layui-btn layui-btn-xs" lay-event="export">导出</a>
    <a id="print" class="layui-btn layui-btn-xs" lay-event="print">打印</a>
    {{# if(d.punishPersonType){ }}
    <a id="instrument" class="layui-btn layui-btn-xs" lay-event="instrument">文书</a>
    {{# } }}
    <a id="detail" class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    {{# if(d.status < 80){ }}
    <a id="finish" class="layui-btn layui-btn-xs" lay-event="finish">结案</a>
    <a id="invalid" class="layui-btn layui-btn-xs" lay-event="invalid">作废</a>
    {{# } }}

</script>
@}
