
@layout("/common/_container.html",{plugins:["leaflet"],css:["/modular/path/map.css"],js:["/modular/path/map.js"]}){
<!--<!DOCTYPE html>-->

<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <style type="text/css">
        /* 全局CSS*/
        *{margin:0px; padding:0px;}
        /* 实例CSS */
        html{ height:100%; _background:url(about:blank);} /*阻止闪动 in IE6 , 把空文件换成about:blank , 减少请求*/
        body{ height:100%; font-size:12px; font-family:Arial,Tahoma,sans-serif; background:#E2E2E2;}

        /*#header{*/
        /*    position:fixed; top:0; right:0;z-index:100;*/
        /*    _position:absolute;*/
        /*}*/
        /*#headerContent {*/
        /*    width:630px;  margin-left:60px; background:#E2E2E2; border-bottom:2px solid #409F89;border-left:2px solid #409F89;*/
        /*    position:fixed; top:36px; right:0;z-index:100;*/
        /*    _position:absolute;*/
        /*}*/

        /*table tr td { height:20px;    }*/

        #map { height: 100%;z-index:10}
    </style>
    <title>

    </title></head>
<body>
<ul class="nav">
    <li class="nav-item">
        <a href="#" id="measureid">
            <img src="${ctxPath}/common/plugins/map/areas/assets/measure.png" alt="close" class="nav-img" id="measureimg">
            测量
        </a>
    </li>
    <li class="nav-item">
        <a href="#" id="drawid">
            <img src="${ctxPath}/common/plugins/map/draw/images/drawclose.png" alt="close" class="nav-img" id="drawimg">
            标绘
        </a>
    </li>
    <li class="nav-item">
        <a href="#" id="compassid">
            <img src="${ctxPath}/common/plugins/map/images/compassc.png" alt="close" class="nav-img" id="compassimg">
            北斗
        </a>
    </li>
    <li class="nav-item">
        <a href="#" id="AISid">
            <img src="${ctxPath}/common/plugins/map/images/AISc.png" alt="close" class="nav-img" id="AISimg">
            AIS
        </a>
    </li>
    <li class="nav-item">
        <a href="#" id="radioid">
            <img src="${ctxPath}/common/plugins/map/images/radioc.png" alt="close" class="nav-img" id="radioimg">
            雷达
        </a>
    </li>
    <li class="nav-item" id="hide">
        <a href="#" id="menu-id">
            <img src="${ctxPath}/common/plugins/map/images/menuc.png" alt="close" class="nav-img" id="menuimg">
            目录
        </a>
    </li>
</ul>
<div class="menu" id="menuid">
    <a class="closed-img" id="Closehide">x</a>
    <h3>目录</h3>
    <div class="menu-left">
        <table>
            <tr>
                <td>显示模式</td>
                <td>
                    <select id="DisplayCategory" style=" width:60px;font-size:12px;font-family:Helvetica Neue;font-weight:400;color:rgba(91,91,91,1);"><option value="1" >简单</option><option value="2">标准</option><option value="3" selected="selected">全部</option></select>
                </td>
            </tr>
            <tr>
                <td>灯塔</td>
                <td><img  id="lights" src="${ctxPath}/common/plugins/map/images/close.png" alt="close"></td>
            </tr>
            <tr>
                <td>深度信息</td>
                <td><img  id="deep" src="${ctxPath}/common/plugins/map/images/close.png" alt="close"></td>
            </tr>
            <tr>
                <td>鹰眼图</td>
                <td><img  id="eyeid" src="${ctxPath}/common/plugins/map/images/close.png" alt="close"></td>
            </tr>
        </table>
    </div>
    <div class="menu-right">
        <table>
            <tr>
                <td>气象</td>
                <td><img  src="${ctxPath}/common/plugins/map/images/close.png" alt="close"></td>
            </tr>
            <tr>
                <td>渔区</td>
                <td><img id="fishId" src="${ctxPath}/common/plugins/map/images/close.png" alt="close"></td>
            </tr>
            <tr>
                <td>禁渔区</td>
                <td><img  id="forbiddenfishId" src="${ctxPath}/common/plugins/map/images/close.png" alt="close"></td>
            </tr>
            <tr>
                <td>热力图</td>
                <td><img  src="${ctxPath}/common/plugins/map/images/close.png" alt="close"></td>
            </tr>
        </table>
    </div>
</div>
<div class="leaflet-draw" id="drawmenu" style="display: none;">
    <a class="closed-img" id="menuClose">x</a>
    <h3>标绘</h3>
    <table class="diaplayid">
        <tr>
            <td>显示标绘</td>
            <td><img   id="display" src="${ctxPath}/common/plugins/map/images/open.png" alt="open" style="margin-left: 5px;"></td>
        </tr>
    </table>
</div>
<div class="menu" id="AISmenu" style="height:120px;">
    <a class="closed-img" id="AISClose">x</a>
    <h3>AIS</h3>
    <div class="menu-left"  style="width:78px;">
        <table>
            <tr>
                <td style="color:rgba(51,51,51,1);">渔船</td>
            </tr>
        </table>
    </div>
    <ul class="menu-right"  style="width:278px;float: left;margin-top: 11px;">
        <li class="nav-item" style="float: left;">
            <a style="font-size:14px;width:36px;padding-right: 8px;">
                散货
            </a>
        </li>
        <li class="nav-item" style="float: left;">
            <a style="font-size:14px;padding-right: 8px;width:50px;">
                集装箱
            </a>
        </li>
        <li class="nav-item" style="float: left;">
            <a style="font-size:14px;padding-right: 8px;width:36px;">
                邮轮
            </a>
        </li>
        <li class="nav-item" style="float: left;">
            <a style="font-size:14px;padding-right: 8px;width:71px;">
                拖轮/引船
            </a>
        </li>
        <li class="nav-item" style="float: left;border-right: none;">
            <a style="font-size:14px;padding-right: 8px;width:36px;">
                客船
            </a>
        </li>
        <li class="nav-item" style="float: left;">
            <a style="font-size:14px;padding-right: 8px;width:36px;">
                渔船
            </a>
        </li>
        <li class="nav-item" style="float: left;">
            <a style="font-size:14px;padding-right: 8px;width:50px;">
                执法船
            </a>
        </li>
        <li class="nav-item" style="float: left;">
            <a style="font-size:14px;width:36px;">
                其它
            </a>
        </li>
    </ul>
</div>
<!--<div id="content" style="background:#808080; height:100%">-->
    <div id="map"></div>

<!--</div>-->

</body>
</html>

@}
