.nav {
    list-style-type: none;
    margin: 20px 21px 0 0;
    padding: 0;
    overflow: hidden;


    width:356px;
    height:31px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 6px rgba(0,0,0,0.15);
    opacity:1;
    border-radius:2px;
    float: right;

    position:fixed;
    top:0;
    right:0;
    z-index:100;
    _position:absolute;
}

.nav-item {
    border-right:1px solid #bbb;
    margin-top:7px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

}

.nav-item:last-child {
    border-right: none;
}

.nav-item a {
    display: block;
    text-decoration: none;
    width:54px;
    height:18px;
    font-size:12px;
    font-family:Helvetica Neue;
    font-weight:400;
    line-height:14px;
    color:rgba(102,102,102,1);
    opacity:1;

}
.nav-img{

    width: 16px;
    height: 16px;
    margin-right: 3px;
    border-radius: 50%

}
.nav-item a:hover {
    color:rgba(52,113,230,1);
}

.menu
{
    width:356px;
    margin-left:20px;
    _position:absolute;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 6px rgba(0,0,0,0.15);
    opacity:1;
    border-radius:2px;
    position: fixed;
    top:3.8125rem;
    right:1.3125rem;
    display: none;
    z-index:100;
}
.closed-img{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 12px 0 0;
    border: none;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}
.closed-img:hover {
    color:gray;
    cursor: pointer;
}
.menu h3{
    font-size:14px;
    font-family:Helvetica Neue;
    font-weight:400;
    line-height:16px;
    color:rgba(51,51,51,1);
    opacity:1;

    margin-top: 10px;
    padding-left: 19px;
    padding-bottom: 10px;
    border-bottom:1px solid rgba(233,233,233,1);
    text-align: left;
}
.menu table{
    margin: 15px 15px;

    line-height:16px;
    font-size:14px;
    font-family:Helvetica Neue;
    font-weight:400;
    color:rgba(91,91,91,1);
    opacity:1;
}
.menu table tr td {
    padding-left: 8px;
}
.menu table tr td img{
    padding-top: 3px;
}

.menu-left
{
    float:left;
    width:170px;
}
.menu-right{
    float:right;
    width:150px;
    text-align: right;
}

.font-icon{
    font-size:14px;
    font-family:Helvetica Neue;
    font-weight:400;
    color:rgba(102,102,102,1);
    opacity:1;
}