@layout("/common/_container.html",{js:["/modular/resource/book.js"],css:["/modular/resource/film.css"]}){
<div class="layui-fluid layadmin-maillist-fluid">

    <div class="layui-row layui-col-space15">
        <div class="layui-form toolbar">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input id="personName" class="layui-input" type="text" placeholder="请输入书籍名称"/>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn">搜索</button>
                    <button class="layui-btn layui-btn-primary">重置</button>
                </div>

            </div>
        </div>


        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
<!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button id="btnRead" class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button id="btnReset" class="layui-btn layui-btn-sm">下载</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
                            <!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button class="layui-btn layui-btn-sm">下载</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
                            <!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button class="layui-btn layui-btn-sm">下载</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
                            <!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button class="layui-btn layui-btn-sm">下载</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
                            <!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button class="layui-btn layui-btn-sm">下载</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
                            <!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button class="layui-btn layui-btn-sm">下载</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
                            <!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button class="layui-btn layui-btn-sm">下载</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
                            <!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button class="layui-btn layui-btn-sm">下载</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
                            <!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button class="layui-btn layui-btn-sm">下载</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
                            <!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button class="layui-btn layui-btn-sm">下载</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
                <div class="layui-col-md4 layui-col-sm6">
                    <a href="javascript:;">
                        <div class="layadmin-text-center">
                            <img src="././common/images/book.jpg">
                            <!--                            <div class="layadmin-maillist-img layadmin-font-blod">人类简史</div>-->
                        </div>
                    </a>
                </div>

                <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                    <a href="javascript:;">
                        <h3 class="layadmin-title">
                            <strong>中华上下五千年</strong>
                        </h3>
                    </a>
                    <div class="layadmin-address">
                        <a href="javascript:;">
                            <strong>作者：任芳芳</strong>
                            <p>简介：历史是一面镜子，任何一个国家和民族都注重用自己的历史教育和鼓励人民，特别是青少年。中华民族五千年历史传承，强大的凝聚力和生生不息的生命力</p>
                        </a>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-sm layui-btn-danger">开始阅读</button>
                        <button class="layui-btn layui-btn-sm ">下载</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
        </div>

        <div class="layui-col-md12 layui-col-sm12" style="text-align: center">
            <div id="demo0"><div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1"><a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a><span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></span><a href="javascript:;" data-page="2">2</a><a href="javascript:;" data-page="3">3</a><a href="javascript:;" data-page="4">4</a><a href="javascript:;" data-page="5">5</a><a href="javascript:;" class="layui-laypage-next" data-page="2">下一页</a></div></div>
        </div>
    </div>
</div>
@}

