/** 登录页面样式 */

body {
    background-color: #158CFA;
}

.deng{
    font-size:34px;
    line-height:55px;
    color:#999999;
}

.deng strong{
    font-size:38px;
    line-height:55px;
    color:#666666;
}

body .layui-row{
    width: 1400px;
    margin: 4.5% auto 0;
}

.item {
    width: 462px;
    height: 51px;
    border-bottom: 1px solid #dae1e6;
    margin-top: 78px;
}

.inputcss {
    margin-left: 33px;
    display: inline-block;
    width: 304px;
    height: 25px;
    padding: 0;
    position: absolute;
    border: 0;
    outline: 0;
    font-size: 18px;
    letter-spacing: 0;
}

.icon {
    display: inline-block;
    margin-left: 5px;
    width: 19px;
    height: 25px;
}

.icon-1 {
    background: url("../images/username.png") no-repeat center;
}

.icon-2 {
    background: url("../images/password.png") no-repeat center;
}

.zicheckbox{
    margin-top: 32px;
    height: 22px;
}

.submitbutton{
    margin-top: 35px;
    width: 462px;
    height: 72px;
    background-color: #1890FF;
}