<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.munition.dao.MunitionOutMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.munition.entity.MunitionOutEntity">
        <id column="id" property="id" />
        <result column="action_type" property="actionType" />
        <result column="detail_id" property="detailId" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, action_type, detail_id, content, remark, status, apply_person, apply_time, in_out_person, in_out_time, approve_person, approve_time
    </sql>

    <select id="maxCode" resultType="java.lang.Integer">
        SELECT count(*) FROM ship_munition_inandout WHERE code like CONCAT('%',#{dateCode},'%') and action_type=1
    </select>

    <select id="selectMunitionOutList" resultType="com.seven.gwc.modular.munition.entity.MunitionOutEntity">
        SELECT i.* FROM ship_munition_inandout i
        LEFT JOIN sys_user u ON i.create_person = u.id
        LEFT JOIN sys_dept d ON u.dept_id = d.id
        where i.delete_flag = 1 and i.action_type=1
        <if test="munitionOut.code != null and munitionOut.code != ''">
            and i.code like CONCAT('%',#{munitionOut.code},'%')
        </if>
        <!-- 数据范围过滤 -->
        ${munitionOut.params.dataScope}
        order by i.create_date desc
        LIMIT #{total} , #{size}
    </select>

    <select id="getListSize" resultType="com.seven.gwc.modular.munition.entity.MunitionOutEntity">
        SELECT i.* FROM ship_munition_inandout i
        LEFT JOIN sys_user u ON i.create_person = u.id
        LEFT JOIN sys_dept d ON u.dept_id = d.id
        where i.delete_flag = 1 and i.action_type=1
        <if test="munitionOut.code != null and munitionOut.code != ''">
            and i.code like CONCAT('%',#{munitionOut.code},'%')
        </if>
        <!-- 数据范围过滤 -->
        ${munitionOut.params.dataScope}
    </select>

</mapper>
