<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.ship_log.dao.SailLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.ship_log.entity.SailLogEntity">
        <id column="id" property="id" />
        <result column="ship_id" property="shipId" />
<!--        <result column="date" property="date" />-->
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="content" property="content" />
        <result column="weather" property="weather" />
        <result column="create_person" property="createPerson" />
        <result column="create_date" property="createDate" />
        <result column="update_person" property="updatePerson" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ship_id, start_time, end_time, content, weather, create_person, create_date, update_person, update_date
    </sql>

    <select id="ShiplogEntityList" resultType="com.seven.gwc.modular.ship_log.entity.SailLogEntity">
        select p.*,u.name as personName,s.name as ShipName
        from ship_sail_log p
        LEFT JOIN sys_user u on p.create_person = u.id
        LEFT JOIN ship_info_ship s on p.ship_id = s.id
        <if test="Shiplog.id != null and Shiplog.id != ''">
            where p.id = #{id}
        </if>
    </select>

</mapper>
