<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seven.gwc.modular.work.dao.ShipWorkLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.seven.gwc.modular.work.entity.ShipWorkLogEntity">
        <id column="id" property="id" />
        <result column="record_date" property="recordDate" />
        <result column="record_end_date" property="recordEndDate" />
        <result column="content" property="content" />
        <result column="record_type" property="recordType" />
        <result column="create_person" property="createPerson" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, record_date, record_end_date,content, record_type, create_person, create_date
    </sql>

    <select id="WorkLogList" resultType="com.seven.gwc.modular.work.entity.ShipWorkLogEntity">
        select a.* from ship_work_log a
        left join ship_person b on a.create_person = b.person_id
        where
            <if test="WorkLog.createPerson != null and WorkLog.createPerson!= ''">
                a.create_person = #{WorkLog.createPerson}
            </if>
            <if test="WorkLog.id != null and WorkLog.id!= ''">
               and a.id = #{WorkLog.id}
            </if>
    </select>

</mapper>
